# Node modules
dist/
build/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Root-only lockfile stray file
/package-lock.json
